<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Gloock&family=Merriweather:wght@400;700&family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Break My Intake</title>
  </head>
  <body>
    
    <nav>
      
      <div class="navbar-left">
        <a href="/">Break My Intake</a>
      </div>
      <div class="navbar-right">
        
          {{#if logged_in}}
          <a href="/dashboard">Dashboard</a>
          {{!-- <a href="/food"class="no-button" id="add-meals">Add Meals</a> --}}
          <a class="no-button" id="logout">Logout</a>
        {{else}}
        
          <a href="/login">Login</a>
          <a href="/signup">Sign up</a>
        {{/if}}
        
      </div>
        
    </nav>

      {{{body}}}

    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}} 
      
  </body>

</html>