<body>
  

 <form class="bmi-form">
      <h1>BMI Calculator</h1>
    <div class="form-group">
      <label for="age">Age</label><br>
      <input type="number" id="age" name="age" placeholder="Please Enter your age"><br>
    </div>
    <div class="form-group">
      <label for="sex">Sex</label><br>
      <select id="sex" name="sex">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select><br>
    </div>
    <div class="form-group">
      <label for="weight">Weight</label><br>
      <input type="number" id="weight" name="weight" placeholder="in lbs"><br>
    </div>
    <div class="form-group">
      <label for="height">Height</label><br>
      <input type="number" id="height" name="height" placeholder="in inches"><br>
    </div>
    
      <button class="btn" type="submit" id="calculate">Calculate BMI</button>

    </form>
    <div id="result">
        
    </div>
   <footer id="contact">
        <p style="font-size: 1rem;" class="closing"><i class="fa fa-thin fa-copyright"></i> Break My Intake</p>
    <div class="icons">
      <a href=""><i class="fa-brands fa-linkedin fa-2x"></i></a>
      <a href=""><i class="fa-solid fa-envelope fa-2x"></i></a>
      <a href="https://github.com/Hflora2010/Break-My-Intake"><i class="fa-brands fa-github fa-2x"></i></a>
    </div>
  </footer> 
<script src="./js/bmi.js"></script>
</body>
