
<body>
    <h1>Complete Your Profile</h1>
    <div class="card">
      <h3>Personal Info</h3>
        <div class="personalInfo">
            Content for name, age, and username goes here
        </div>
        <div class="personalInfo">
            Content for weight, age, and height goes here
        </div>
        <div class="personalInfo">
            <h6>Activity Level</h6>
            Activity content goes here
        </div>
        </div>
        <div>
        <button class="btn" type="submit">Edit</button>
    </div>
</body>