<header>
    <div class="main">
        <h1>Welcome to Break My Intake</h1>
        <h3>#1 Calorie Tracker Website that will help you keep your BMI in check!</h3>

        <div class="message">
        <p>BMI is useful measure of underweight, overweight and obesity.<span id="dots">..</span><span id="readMore"> It is calculated from your height and weight. BMI is an estimate of body fat and a good gauge of your risk for diseases that can occur with more body fat. The higher your BMI, the higher your risk for certain diseases such as heart disease, high blood pressure, type 2 diabetes, gallstones, breathing problems, and certain cancers.”
<br><em>National Heart, Lung, and Blood institute</em> 
 </span><button class="hideText" onclick = "toggle()" id="myBtn">read more</button></p>
        </div>

  <div class="container">
  <div class="review">
    <p class="reviewer">Kim<br><span class="location">United States</span><br><span class="rating">★★★★☆</span></p>
    <p class="text">Break My Intake was great for putting my weight into perspective and getting me back on track. The charts helped to motivate me each day! 5 out of 5 hearts!</p>
  </div>
  <div class="review">
    <p class="reviewer">Harry<br><span class="location">United States</span><br><span class="rating">★★★★★</span></p>
    <p class="text">I tried everything in the books for my snoring, down to getting my deviated septum fixed. I didn’t realize the correlation between me being overweight and snoring. I’ve been able to drop the pounds and cut the snoring, my wife is thrilled! Tracking the food made it fun and kept me coming back!</p>
  </div>
</div>

        
        </div>
        </div>
        <div>
            <button class="btn submit" onclick="window.location.href='/calculatebmi'">Get Started</button>
    </header>
    <script src="./js/homepage.js"></script>