
      
        <div class="left-div">
            <p>
              “BMI is useful measure of underweight, overweight and obesity. It is calculated from your height and weight.
              BMI is an estimate of body fat and a good gauge of your risk for diseases that can occur with more body fat.
              The higher your BMI, the higher your risk for certain diseases such as heart disease, high blood pressure, type 2 diabetes,
              gallstones, breathing problems, and certain cancers.”
              National Heart, Lung, and Blood institute
            </p>
        </div>
        <div class="right-div">
          <div class="child-div-left">
            <br>
            <p>Kim<br>United States</p><p>⭐⭐⭐⭐⭐</p>
            <br>
            <br>
            <br>
            <p>Harry<br>United States</p><p>⭐⭐⭐⭐⭐</p>
          </div>
          <div class="child-div-right">
            <p>April 20 2023<br><b>I LOST 15 POUNDS IN 4 WEEKS!</b></p>
            <p>Break my Intake was great for putting my weight into perspective and getting me back on track.
                The charts helped to motivate me each day! 5 out of 5 hearts!
            </p>
            <br>
            <p>February 8 2023<br><b>HELPED ME TO DIAGNOSE MY SNORING!</b></p>
            <p>I tried everything in the books for my snoring, down to getting my deviated septum fixed.
                I didn’t realize the correlation between me being overweight and snoring. I’ve been able to drop the pounds and cut the snoring,
                my wife is thrilled! Tracking the food made it fun and kept me coming back!
            </p>
          </div>
        </div>
      </div>
    <div>
        <button class="submit" onclick="document.location.href = './calculatebmi';">Get Started</button>
      </div>

