<body>

    <div class="row">
        
        <div class="col-md-6">
        
        <form class="form login-form">
            <h1 style="padding: 60px;">Login</h1>
            <div class="form-group">
                <label for="name-signup">Username</label><br>
                <input class="form-input" type="text" id="email-login" />
            </div>
            <div class="form-group">
                <label for="password-signup">Password</label><br>
                <input class="form-input" type="password" id="password-login" />
            </div>
            <div class="form-group"><br>
                <button style="margin-top: 80px;" class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
        </div>
        </div>
        <footer style="margin-top: 220px;" id="contact">
        <p style="font-size: 1rem;" class="closing"><i class="fa fa-thin fa-copyright"></i> Break My Intake</p>
    <div class="icons">
      <a href=""><i class="fa-brands fa-linkedin fa-2x"></i></a>
      <a href=""><i class="fa-solid fa-envelope fa-2x"></i></a>
      <a href="https://github.com/Hflora2010/Break-My-Intake"><i class="fa-brands fa-github fa-2x"></i></a>
    </div>
  </footer> 
    <script src="./js/login.js"></script>
    </body>
