<body>

    <div class="row">
        <div class="col-md-6">
        
        <form class="form signup-form">
            <h1 style="padding: 60px;">Sign Up</h1>
            <div class="form-group">
                <label for="firstname-signup">First Name</label><br>
                <input class="form-input" type="text" id="firstname-signup" />
            </div>
            <div class="form-group">
                <label for="lastname-signup">Last Name</label><br>
                <input class="form-input" type="text" id="lastname-signup" />
            </div>
            <div class="form-group">
                <label for="email-signup">Email</label><br>
                <input class="form-input" type="text" id="email-signup" />
            </div>
            <div class="form-group">
                <label for="name-signup">Username</label><br>
                <input class="form-input" type="text" id="name-signup" />
            </div>
            <div class="form-group">
                <label for="password-signup">Password</label><br>
                <input class="form-input" type="password" id="password-signup" />
            </div>
            
        </form>
        <div class="form-group"><br>
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
        <footer id="contact">
        <p style="font-size: 1rem;" class="closing"><i class="fa fa-thin fa-copyright"></i> Break My Intake</p>
    <div class="icons">
      <a href=""><i class="fa-brands fa-linkedin fa-2x"></i></a>
      <a href=""><i class="fa-solid fa-envelope fa-2x"></i></a>
      <a href="https://github.com/Hflora2010/Break-My-Intake"><i class="fa-brands fa-github fa-2x"></i></a>
    </div>
  </footer> 
    <script src="./js/signup.js"></script>
    </body>
