
  
   /* general */

* {
    font-family: "Merriweather", "Ubuntu", Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
    padding: 0;
  }
  body {
    color: black;
    /* font-weight: bold; */
    background-color: #A68DAD;
  }

  
  h1 {
    color: white;
    font-size: 2.5rem;
    padding: 70px;
  }

  h2 {
    color: white;
    font-size: 2rem;
    padding: 70px;
  }

  h3 {
    color: white;
    font-size: 1.5rem;
    padding: 0 20px 50px;
  }
  p {
    color: white;
    /* font-family: Serif; */
    font-size: 1.1rem;
  }

  label {
    color: #245624;
    font-size: 1.2rem;
    margin: 5px;
  }
  
  input {
    border-radius: 5px;
    margin: 5px 10px 0;
    padding: 10px 20px;
    width: 250px;
  }


 .btn {
   background-color: #A68DAD;
   border-color: #A68DAD;
   border-radius: 10px;
   color: white;
   font-size: 2.2rem;
   font-weight: bold;
   padding: 1px 50px;
 }
 .btn:hover {
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   cursor: pointer;
   transform: translate(-0.07rem);
   transition: 0.5s ease out;
}

  /* main.handlebars */

  nav {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: #A68DAD;
    padding: 20px 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  .navbar-left a {
    font-weight: bold;
    color: white;
    margin-left: 100px;
    text-decoration: none;
    font-size: 2rem;
  }
  .navbar-right a {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    margin-right: 100px;
  }
  .navbar-right a:hover {
    text-decoration: underline;
  }

  header {
    height: 80vh;
    position: relative;
  }

  header::before {
    
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(https://images.pexels.com/photos/1414651/pexels-photo-1414651.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
    filter: blur(5px) contrast(0.9);
  }

  /* homepage.handlebars */

.main {
  background-color: rgba(0, 9, 12, 0.288);
  border-radius: 10px;
  height: 70vh;
  margin: 10px auto;
  width: 70vw;
}

.main h1 {
  padding: 60px;
}

  .message {
    margin: auto;
    width: 50vw;
  }

  header > * {
    position: relative;
    z-index: 1;
  }

  #readMore, #readMore1, #readMore2 {
    display: none;
  }

  .hideText {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    color: #245624;
    cursor: pointer;
    overflow: hidden;
    font-size: 0.8rem;
    text-decoration: underline;
  }
  
  
  .container {
    display: flex;
    justify-content: space-between;
    margin: 50px 15px 0;
  }

  
  .review {
    width: 60%;
    /* margin-top: 20px; */
  }
  
  .reviewer {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .location {
    color: #245624;
  }
  
  .rating {
    color: #ddb12d;
    font-weight: bold;
  }
  
  .text {
    margin-top: 0;
  }
  
  .date {
    margin: 0;
    color: #245624;
  }
  .review p{
    font-size: 0.8rem;
    /* padding: 40px; */
   }

  @media (max-width: 1200px){
    h1 {
         font-size: 1.8rem;
         margin-bottom: 30px;
         padding: 50px;
     }
     h3 {
      font-size: 1rem;
      margin-bottom: 40px;
     }
     
     .message {
      width: 80%;
    }
   }


/* signup/login.handlebars */

.form-group {
  margin-bottom: 25px;
 }

/* dashboard.handlebars */
  .card {
    background: rgba(0, 9, 12, 0.233);
    border-radius: 20px;
    color: white;
    height: 400px;
    margin: auto auto 100px auto;
    padding: 30px;
    width: 600px;
  }

  .personalInfo {
    margin: 40px;
  }

/* food.handlebars */

.meals {
    color: #245624;
    margin: 20px 0 0px;
}

.dropText {
    padding: 8px;
    width: 300px;
    cursor: pointer;
    box-sizing: border-box
}

.food-container {
    display: flex; 
    flex-wrap: wrap; 
}

.list {
    flex: 1; 
    display: flex; 
    align-items: center; 
    margin-right: 5px; 
}



.list label {
    flex: 1;
    font-size: 0.7rem;
}   

.dropdown {
    position: relative;
    display: inline-block
}

.content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    z-index: 1
}

.quantity {
    float: right;
    height: 3px;
    width: 10px;
    
}


.content div:hover {
    background-color: #ddd
}

.show {
	display: block
}


